* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.header-block {
    width: 100%;
    position: relative;
}

.header-block img {
    width: 100%;
    height: 30vw;
    opacity: 0.6;
}

.text-block {
    width: 80%;
    height: 40%;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 30%;
    left: 10%;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.about-women-cell img {
    width: 90%;
    height: 50%;
}

.headings {
    width: fit-content;
    border-bottom: 4px solid rgb(92 217 255);
    padding-bottom: 10px;
}

.text-blue {
    color: rgb(8, 139, 190);
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}

.image {
    position: relative;
    width: 100%;
}

.image--img {
    display: block;
    width: 100%;
}

.image-overlay {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    opacity: 0;
    transition: .5s ease;
}


/* .image-overlay-blur{
    backdrop-filter: blur(5px);
} */

.image:hover .image-overlay {
    opacity: 1;
    /* transition: 0.8s; */
}

.image-overlay>* {
    transform: translateY(20px);
    transition: translate 4s;
}

.img-title {
    font-weight: 600;
    font-size: 20px;
}

div.figure img,
div.figure div.text-on-image {
    width: 70%;
}

.text-on-image {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    background-size: inherit;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}

.carousel-indicators li {
    background-color: rgb(110, 110, 110);
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.carousel-indicators li:active {
    border-radius: 50%;
    background-color: rgb(92 217 255);
}

.objectives {
    background-image: url('../images/cells/studentclass.jpg');
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0.5);
    background-size: cover;
    width: 100%;
}

.object-block {
    background-color: rgb(0, 0, 0, 0.7);
    background-size: cover;
}

.title {
    color: rgb(92 217 255);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: black;
    color: aquamarine;
    width: 30px;
    height: 30px;
}


/* .image-container{
    position: relative;
    width: 400px;
} */

.p-3 {
    padding: 3%;
}

@media (max-width: 700px) {
    div.figure img,
    div.figure div.text-on-image {
        width: 100%;
    }
}

@media(max-width:599px) {
    .owl-theme .owl-dots .owl-dot {
        display: inline-block;
        zoom: 0.5;
    }
}