.header-block{
    width: 100%;
    position: relative;
}
.header-block img{
    width: 100%;
    height: 15vw;
    opacity: 0.9;
}   
.text-block {
    /* width:  80%;
    height: 40% ; */
    /* background: rgba(0, 0, 0, 0.5); */
    color: white;
    font-size: 5vw;
    font-weight: bold;
    position: absolute;      
    /* top: 30%; */
    left: 35%;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.main-container{
    
    width: 100%;
}
.headings{
    width: fit-content;
    border-bottom: 4px solid #007bff;
    padding-bottom: 10px;
}
/* .row{
    margin-right: 0px;
    margin-left: 0px;
} */
input[type="text"], input[type="email"], input[type="submit"], textarea {
    width: 100%;
    padding: 5px;
    margin: 3px;
    margin-bottom: 30px;
}  
.img-map{
    width: 100%;
    height: 100%;
}
.img-map:hover{
    box-shadow: 5px 5px 5px 5px #c2c2c2;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
i.fa:hover{
    font-size: 25px;    
}
/* changes */
.ml-5{
    margin-left: 2.5rem!important;
}
/* @media (max-width:768px){
    .main-container{
       width: 91%;
    }
    /* .header-block img{
        width: 100%;
        height: 37vw;
        opacity: 0.9;
    }  
    .headings{
        font-size: 26px;
        width: 7em;
        border-bottom: 4px solid #007bff;
        padding-bottom: 10px;
    }
    .h4{
        font-size: 17px;
    }
    .ml-5{
        margin-left: -10% !important;
    }
    input[type="text"], input[type="email"], input[type="submit"], textarea {
        width: 181%;
        padding: 5px;
        margin-top: 5px;
        margin-left:-42%;
    }  
}*/

iframe{
    width: 100%;
    height: 260px;
}
