body {
    max-width: 100%;
    margin: auto;
    overflow-x: hidden;
}

.header-line {
    color: rgb(255, 255, 255);
    background-color: rgb(92 217 255);
    padding: 4px 4px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

a {
    padding: 2px;
    margin: 2px 5px;
    font-size: 1rem;
}

.custom-nav {
    width: 100%;
}

.header {
    align-items: center;
    /* padding: 0px 20px; */
    /* height: 20vh; */
    /* width: 100%; */
}

.gecp-logo {
    width: 6vw;
}

.logo-right {
    width: 15vw;
}

.header-mid-center {
    font-size: 3.5vw;
    text-align: center;
    width: 75%;
}

@media (max-width: 1290px) {
    .nav-item a {
        font-size: 14px;
    }

    .header-line a {
        font-size: 12px;
    }
}

@media (max-width: 1170px) {
    .nav-item a {
        font-size: 10px;
    }
    .navbar{
        padding: 4px;
    }
}

.nopadding{
    padding: 0 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

a.nav-link:hover {
    background-color: rgb(92 217 255);
    color: rgb(0, 0, 0) !important;
    border-radius: 6px;
    transition: 0.3s;
}

.active-link {
    background-color: rgb(92 217 255);
    border-radius: 6px;
    color: black !important;
}

a.header-link:hover {
    border-radius: 6px;
    text-decoration: none;
    color: rgb(85, 85, 85) !important;
    font-weight: bolder;
    transition: 0.3s;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    width: initial;
    background-color: rgb(92 217 255);
    color: black;
    transition: 0.5s;
}

.active-item {
    width: initial;
    background-color: rgb(92 217 255);
    color: white;
    transition: 0.3s;
}

/* .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    width: fit-content;
    background-color: #e9ecef;
} */