*{
    margin: auto;
    padding: 0;
}
body{
    background: rgb(255, 255, 255) ;
    /* font-size: 14px; */
    min-width: fit-content;
}

@media only screen and (max-width: 600px) {
    .contact-box{
        flex-wrap: wrap;
    } 
}
.bg-image {
    background-image: url("../images/keyBoard_img.jpg");
    background-size: cover;
    height: 10rem;
    display: flex ;
}
.centered {
    align-content: center;
    color: white;
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    align-content: center;
    /* width: 800px;
    height: 500px;   */
    /* width: 60vw;
    height: 75vh; */
    width: 50rem;
    height: 30rem;
    /* padding: 2rem; */
    padding: 18px;
    margin: 50px auto;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 5px rgb(207, 207, 207);
}
h1{
    font-size: 40px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: rgb(29, 130, 245);
    text-decoration: underline;     
    text-decoration-color: rgb(29, 130, 245);  
}
.contact-box{
    /* width: 800px;
    height: 400px; */
    /* width: 55vw;   
    height: 60vh; */
    width: 48rem;
    height: 27em;
    background: #fff;
    display: flex;
    /* align-items: stretch; */
    /* box-sizing: border-box;  */
}
.container-left{
    flex-basis: 50%;
    padding: 30px;
}
.container-right{
    margin-top: 30px;
    flex-basis: 50%;
    padding: 20px;
}
h3{
    font-size: 20px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 7px;
}
.input-group{
    width: 100%;
    margin: 5px;
}
input[type="text"],input[type="email"],textarea{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border-color: rgba(131, 129, 129, 0.616);
    border-radius: 5px;
}
button{
    background-color: rgb(29, 130, 245);
    width: 100%;
    border: none;
    margin: 10px 10px 0px 5px;
    padding: 12px 12px;
    border-radius: 5px;
    font-size: 20px ;
    color: white;
}
button:hover{
    background-color: rgb(13, 36, 165);
}
.reach-us{
    margin-top: 6px;
    padding: 6px;
    font-size: 19px;
    /* font-size: 1.2rem; */
}
.icon-container{
    height: 40px;
    display: flex;
}
a{
    margin: 0px;
    padding: 10px;
}
.fa-youtube{
    background-image: url('../images/youtube.png');
    width: 25px;
    height: 25px;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.fa-instagram{
    background-image: url('../images/instagram.png');
    width: 22px;
    height: 22px;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.fa-facebook{
    background-image: url('../images/facebook.png');
    width: 22px;
    height: 22px;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.fa-twiter{
    background-image: url('../images/twitter.png');
    width: 25px;
    height: 25px;
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.image-map{
    background-image: url('../images/map.jpg');
    background-size: cover;
    height: 140px;
    /* height: 8rem; */
    margin-top: 48px;
    border-radius: 5px;
}
.image-map:hover{
    box-shadow: 0 0 10px rgb(143, 137, 137);  
}