/*events*/
.ev-header {
    position: relative;
}

.ev-header img {
    height: 250px;
    width: 100%;

}

.ev-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 250%;
    font-weight: 600;

}

.ev-container h1 {
    color: black;
    font-weight: bold;
    padding-bottom: 2%;

}

.ev-container h3 {
    padding-top: 2%;
    color: #87ceeb;
}

.align-center {
    text-align: center;
}

.col-md-3 img {
    width: 100%;
    /* height: 50vh;  */
    margin: 0%;
    padding: 0%;
}

.mar-b {
    margin-bottom: 0%;
}

.effect .mg-glass {
    position: absolute;
    top: 50%;
    left: 50%;
}

.effect::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background: rgb(68, 4, 244);
    margin: auto;
    opacity: 0%;

}

.effect:hover::before {
    opacity: 0.3;
}

div.effect:hover::before {
    width: 150%;
    height: 80%;
    color: blue;
    -ms-transform: rotate(190deg);
    transform: rotate(190deg);
    top: 15%;
    bottom: 8%;
    left: -8%;
    right: 0%;
}

.effect {
    position: relative;
    width: 100%;

}

.mg-glass {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    align-content: center;
}

.effect:hover .mg-glass {
    opacity: 1;
}

.overflow {
    overflow: hidden;
}

.ev-speaker {
    background-color: #00b7ff;
    padding-top: 2%;
    /* height:200px; */
    background: linear-gradient(to right, deepskyblue, gray);
    color: white;
    margin-bottom: 0%;
    padding-bottom: 2%;
}

.ev-speaker h1 {
    color: white;
    padding-top: 1%;
    /* padding-bottom:8%; */
    font-weight: 600;
    margin: 0%;
}

.ev-speaker-2 {
    background: linear-gradient(180deg, deepskyblue 30%, white 30%);
    width: 100%;
    position: relative;
    margin-bottom: 5%;
}

.sp-img {
    /* position:relative; */
    height: 60vh;
}

.pad-4 {
    padding: 4%;
}

.pos-abs {
    position: absolute;
}

.h-50vh {
    height: 50vh;
}

.align-center h3 h1 {
    position: absolute;
    color: white;
}

.w-60 {
    width: 75%;
}

.w-90 {
    width: 90%;
}

.op-0 {
    opacity: 0;
}

.pad-0 {
    padding: 0%;
}

.justi-saround {
    justify-content: space-around;
}

.pos-rel {
    position: relative;
}

.t-7 {
    top: -30%;
}

.t-10 {
    top: -50%;
}

.pad-2 {
    padding: 2%;
}

.circle {
    border-radius: 50%;
}

.bg-blue {
    background-color: #00b7ff;
}

.ev-name h6 {
    color: white;
}

.ev-name h5 {
    color: white;
    padding-bottom: 4%;
}

.ev-name {
    top: 52%;
    left: 32%;
}

.ev-searchheader {
    background-color: #00b7ff;
    height: 400px;
    width: 100%;
    color: white;
}

.ev-searchheader p {
    padding-top: 2%;
    padding-bottom: 2%;
}

.ev-searchheader h1 {
    padding-top: 3%;
}

.mr-t-7 {
    margin-top: -90px;
}

.search {
    margin-top: 1%;
    align-items: center;
}

input[type=text] {
    padding: 7px;
    border: none;
    font-size: 14px;
    width: 20%;
    height: 6vh;
    border-radius: 3px;
    ;
}

button {
    height: 6vh;
    width: 8%;
    text-align: center;
    font-size: 15px;
    background-color: rgb(12, 12, 231);
    color: white;
    border: none;
    margin-left: 0%;
    border-radius: 2px;
}

/* .overlay2{
    background-color: #00b7ff;
    position: relative;
    cursor: pointer;
    width:100%;
    height:74%;
    top:-74%;
    opacity:0%; 
} */

/* Changes on hover */
.temp:hover>.overlay2 {
    width: 93%;
    height: 40%;
    opacity: 0.8;
    transform: skewY(7deg);
    bottom: 65px;
    left: 0;
    right: 0;
    position: absolute;
    background: #00b7ff;
    display: block;
    margin: auto;
    overflow: hidden;
}

.temp:hover>.w-60 >.bg-blue {
    background-color: #fff !important;
}

.temp:hover>.w-60 >.bg-blue >.fa {
    color: rgb(250, 132, 152) !important;
    font-weight: bolder;
    text-decoration: none;
}

.overlay2:hover.pad-2 {

    background-color: white;
    color: rgb(252, 5, 108);
}

.fa-bar {
    bottom: 20%;
    left: 12%;
}

.twit1 {
    color: white;
}

.inst1 {
    color: white;
}

.gle1 {
    color: white;
}

.face1 {
    color: white;
}

/* media query */
@media (max-width:700px) {
    input[type=text] {
        padding: 12px;
        border: none;
        font-size: 9px;
        width: 40%;
        height: 10vh;
        border-radius: 3px;
        ;
    }
}

@media (max-width:700px) {
    button {
        height: 10vh;
        width: 25%;
        text-align: center;
        font-size: 12px;
        background-color: rgb(12, 12, 231);
        color: white;
        border: none;
        margin-left: 0%;
        border-radius: 2px;
    }

    .ev-speaker h1 {
        color: white;
        padding-top: 1%;
        /* padding-bottom:8%; */
        font-weight: 600;
        margin: 0%;
        font-size: 30px;
    }

    .ev-speaker h5 {
        font-size: 20px;
    }

    .ev-container h1 {
        color: black;
        font-weight: bold;
        padding-bottom: 2%;
        font-size: 30px;

    }

    .ev-container h3 {
        padding-top: 2%;
        color: #87ceeb;
        font-size: 20px;
    }

    .ev-searchheader p {
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 20px;
    }

    .ev-searchheader h1 {
        padding-top: 3%;
        font-size: 40px;
    }

}

.ev-blog h5 {
    margin-top: 2%;
    color: gray;

}

.ev-blog h2 {
    margin-top: 1%;
    margin-bottom: 5%;
    color: rgb(61, 61, 228);
}

.h-160 {
    height: 530px;
}

.h-160 img {
    width: 100%;
    height: 260px;
}

.blue {
    color: rgb(61, 61, 228);
}

.mr-right {
    margin-right: 4%;
}

.gray {
    margin-top: 1%;
    font-size: 12px;
    color: gray;
}

.bg-gwhite {
    background-color: ghostwhite;
}

.bold {
    font-weight: 500;
}

.mr-t-3 {
    padding-top: 3%;
    height: 150px;

}